@model IEnumerable<UserGroups>

<h2>Available users</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserIds)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserIds)
            </td>
            <td>
                <a style="margin-right: 10px" asp-controller="UserGroups" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-controller="UserGroups" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>

</table>

<div class="text-center">
    <h1 class="display-4">Users options</h1>
    <div>
        <a class="block" asp-controller="UserGroups" asp-action="AddUserGroup"> Add User </a>
    </div>
</div>

<!-- CSS part -->

<style>
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.block:hover {
  background-color: #ddd;
  color: black;
}
</style>